<h1>マイページ</h1>
<p>このサイトはテストサイトです！</p>
<p>8月４日から作成しています〜🍵</p>
<p>アプリケーション名である"Plant"という名のとおり植物に関する投稿サイトです😆</p>
<p>今まで作成してきたBookersやMeshiterroを参考にした簡易サイトとなっております🌱</p>

<%= render 'info', user: current_user %>