<div class='container'>
  <div class='row'>
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-7'>
      <h1><i class="fa-solid fa-apple-whole"></i>_Abuot_<i class="fa-solid fa-apple-whole"></i></h1>
      <p>植物好きが集まるサイトです<i class="fa-solid fa-seedling"></i></p>
      <p>サイト主は最近観葉植物集めにハマっており、植物ライフを楽しんでます<i class="fa-brands fa-pagelines"></i></p>
    </div>
  </div>
</div>